$aqua: #00e0d0;

@mixin text ($fontfamily, $fontsize, $color, $lineheight, $fontweight) {
  font-family: $fontfamily;
  font-size: $fontsize;
  color: $color;
  line-height: $lineheight;
  font-weight: $fontweight;
}

@mixin flex ($displayflex, $flexdirection, $justify, $alignit) {
  display: $displayflex;
  flex-direction: $flexdirection;
  justify-content: $justify;
  align-items: $alignit;
}

@mixin btn ($border, $radius, $backgroundcolor, $cursor) {
  border: $border;
  border-radius: $radius;
  background-color: $backgroundcolor;
  cursor: $cursor;
}
